@model Soulful.Models.SetPasswordViewModel
@{
    ViewBag.Title = "建立新密碼";
}

@*<h2>@ViewBag.Title.</h2>*@
@*<p class="text-info">
        您沒有此網站的本機使用者名稱/密碼。新增本機
        帳戶即可在沒有外部登入的情況下登入。
    </p>*@

@section topCSS{

    <link href="~/Asset/css/Register.css" rel="stylesheet" />
}

<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>ForgotPasswordConfirm</h2>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h1 class="text-center">建立新密碼</h1>
    <hr />

    <div class="container ">
        <div class="row ">
            <div class="col-8 ss mx-auto">
               
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12  ">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12 ">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="確認" class="btn btn-default" />
                        </div>
                    </div>
             
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}