@model Soulful.ViewModels.OrderViewModel
@{
    ViewBag.Title = "ConfirmOrder";
}
@section topCSS{
    <link href="~/Asset/css/Cheack.css" rel="stylesheet" />
}

<section class="pic">
    <div class="block"></div>
    <div class="bradcumb-content">
        <p>I Like It</p>
        <h4>ConfirmOrder</h4>
    </div>
</section>
<div class="confirm">
    <div class="container buy-program-box ">
        <div class="row">
            <div class="col-12 buy-program">
                @*<div class="alert alert-dark" style="width: 550px;background-color: #7f6649;color: #fff;" role="alert">
                        確認購物清單 <i class="fas fa-arrow-circle-right"></i>
                    </div>*@
                <div class="alert alert-light col-12" style="width: 550px;color: #7f6649;" role="alert">
                    填寫收貨資訊 <i class="fas fa-cart-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 statistics">
                @using (Html.BeginForm("ConfirmOrder", "Order", FormMethod.Post, new { @class = "form-horizontal col-8", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>OrderInformation</h4>
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.RecieverName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RecieverName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RecieverName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RecieverPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RecieverPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RecieverPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RecieverAdress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RecieverAdress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RecieverAdress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Previous", "Order", "", new { @class = "btn btn-keep-buy" })
                            <input type="submit" value="完成訂單" class="btn btn-keep-buy" />
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>