<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Assest/css")


    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("關於", "About", "Home")</li>
                        <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@


    <header class="header-area py-2 ">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg w-100">
                    <a class="navbar-brand" href="#">SOULFUL</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <div class="navbar-toggler-icon">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Album", "Album", "Album")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Events", "Index", "Events")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("News", "Index", "News")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Index", "Contact")
                            </li>
                        </ul>
                        <div class="login_cart ml-5 d-flex flex-wrap">
                            <div class="login mx-5"><a href="">Login/Register</a></div>
                            <div class="cart ml-5"><a href="">Cart</a></div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>




    @RenderBody()


    <section class="contact-area">


        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <p>See what’s new</p>
                        <h2>GET IN TOUCH</h2>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-name" id="name" placeholder="Name" style="color: #fff;">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-email" id="email" placeholder="E-mail" style="color: #fff;">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-subject" id="subject" placeholder="Subject" style="color: #fff;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-message">
                        <input type="text" class="form-message" id="message" placeholder="Message" style="color: #fff;">
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-12 text-center">
                    <button class="send-btn">send >></button>
                </div>
            </div>
        </div>
    </section>
    <footer class="foot-layout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="foot-title">SoulFul</h4>
                    <p class="foot-txt">
                        Copyright ©2020 All rights reserved | This template is made with by Colorlibs
                    </p>
                </div>
                <div class="col-12 col-md-6 foot-nav-box">
                    <div class="foot-nav">
                        <ul class="foot-ul">
                            <li><a href="">Home</a></li>
                            <li><a href="">Albums</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    


    @Scripts.Render("~/Assest/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/boostrap")
    @RenderSection("scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
