<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soulful</title>
    <script src="https://kit.fontawesome.com/4b2c9cbe81.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    <link href="~/Asset/css/home_header.css" rel="stylesheet" />
    <link href="~/Asset/css/home_footer.css" rel="stylesheet" />
    <link href="~/Asset/css/_layout.css" rel="stylesheet" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>

    <header class="header-area py-2 ">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg w-100">
                    @Html.ActionLink("SOULFUL", "Index", "Home")
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <div class="navbar-toggler-icon">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                @Html.ActionLink("Album", "Albums", "Album")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Event", "Index", "Event")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Contact", "Contact")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Account")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Account")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Pay", "PayView", "Pay")
                            </li>
                            <li class="nav-item">

                                <input type="checkbox" id="cart_control">
                                <label for="cart_control" class="btn_cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </label>
                                <div class="cart">
                                    <label for="cart_control" class="close">X</label>
                                    <a class="btn_cart_product">添加商品</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>




    @RenderBody()


    <section class="contact-area">


        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <p>See what’s new</p>
                        <h2>GET IN TOUCH</h2>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-name" id="name" placeholder="Name" style="color: #fff;">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-email" id="email" placeholder="E-mail" style="color: #fff;">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-subject" id="subject" placeholder="Subject" style="color: #fff;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-message">
                        <input type="text" class="form-message" id="message" placeholder="Message" style="color: #fff;">
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-12 text-center">
                    <button class="send-btn">send >></button>
                </div>
            </div>
        </div>
    </section>
    <footer class="foot-layout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="foot-title">SoulFul</h4>
                    <p class="foot-txt">
                        Copyright ©2020 All rights reserved | This template is made with by Colorlibs
                    </p>
                </div>
                <div class="col-12 col-md-6 foot-nav-box">
                    <div class="foot-nav">
                        <ul class="foot-ul">
                            <li class="nav-item">
                                @Html.ActionLink("SOULFUL", "Index", "Home")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Album", "Albums", "Album")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Event", "Index", "Event")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Contact", "Contact")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Asset/js/navbar.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
