@model IEnumerable<Soulful.ViewModels.AlbumViewModel>

@foreach (var m in Model)
{
    <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
        <div class="single-album" id="@m.Id" onclick="show(this)">
            <img src="~/Asset/image/@m.Pic" alt="" class="d-block w-100">
        </div>
        <div class="album-txt">
            <a href="">
                <h5>@m.Name</h5>
            </a>
            <p>@m.Singer</p>
        </div>
    </div>

    <div class="modal fade" id="modalQuickView_@m.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" id="album-modal">
                    <div class="row">
                        <div class="col-lg-5">
                            <!--Carousel Wrapper-->
                            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                                 data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100"
                                             src="~/Asset/image/@m.Pic"
                                             alt="First slide">
                                    </div>

                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <!--/.Controls-->

                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>
                        <div class="col-lg-7">
                            <div class="album-title-box">
                                <h2 class=" product-name">
                                    <strong>@m.Singer</strong>
                                </h2>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">&times; </button>
                            </div>


                            <!--Accordion wrapper-->
                            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingOne1">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                           aria-controls="collapseOne1">
                                            <h5 class="mb-0">
                                                @m.Name
                                            </h5>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                         data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>@m.About</p>




                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- Accordion wrapper -->
                            <!-- Add to Cart -->
                            <div class="card-body">

                                <div class="text-right">
                                    <h4 class="h4-responsive">
                                        <span class="green-text">
                                            <strong>會員價$50</strong>
                                        </span>
                                        <span class="grey-text">
                                            <small>
                                                <s>原價$100</s>
                                            </small>
                                        </span>
                                    </h4>
                                    <div class="order">
                                        <button class="btn buy-btn" onclick="postValue(@m.Id)">訂購</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Add to Cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


