@model Soulful.Models.ForgotPasswordViewModel


@section topCSS{

    <link href="~/Asset/css/Register.css" rel="stylesheet" />
}
<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>May I Help You</p>
                <h2>ForgotPassword?</h2>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="text-center"><h4>輸入您的電子郵件。</h4></div>
    
    <hr />
   
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-6 mx-auto">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-12 ">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 ">
                        <input type="submit" class="btn btn-default" value="以電子郵件傳送連結" />
                    </div>
                </div>

            </div>
         


        </div>


    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
