@model Soulful.Models.RegisterViewModel
@{
    ViewBag.Title = "註冊";
}

@section topCSS{
    <link href="~/Assest/css/login_page.css" rel="stylesheet" />
}

@* 原始程式碼 *@
@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>建立新帳戶。</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="註冊" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<div class="breadcumb-area bg-img bg-overlay">
    <div class="bradcumbContent">
        <p>New Users</p>
        <h2>Register</h2>
    </div>
</div>

<div class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Register</h3>

                    <div class="login-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter E-mail">
                                <small id="emailHelp" class="form-text text-muted">
                                    <i class="fa fa-lock mr-2"></i>We'll never share your email with anyone
                                    else.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">User Name</label>
                                <input type="text" class="form-control" id="exampleInputUserName"
                                       placeholder="UserName">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>