@{
    ViewBag.Title = "Home Page";
}
@section topCSS{
    <link rel="stylesheet" href="~/Asset/css/Home.css" />
    <link href="~/Asset/css/modal.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Scripts/Slick/slick.js"></script>
    <script src="~/Asset/js/Slick.js"></script>
    <script src="~/Asset/js/yt_modal.js"></script>
}
<!-- hero_image -->
<section class="slide_image">
    <div class="hero_image bg_image">
        <div class="hero_image_wrap bg_image"></div>
        <div class="container">
            <div class="row">
                <div class="hero-text w-100">
                    <h6 class="fadeInUp">Latest album</h6>
                    <h2 class="fadeInUp mb-3">Beyond Time</h2>
                    @Html.ActionLink("Discover", "Albums", "Album", new { lan = "All" }, new { @class = "soul_btn mt-2" })
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Albums -->
<section class="latest_albums">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <p>See what’s new</p>
                <h2>Latest Albums</h2>
            </div>
        </div>
        <div class="row responsive">
            @Html.Partial("HomeCardPartialView")
        </div>
    </div>
</section>


<section class="broadcast bg_image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 mt-auto">
                <div class="pic"><img class="d-block w-100" src="~/Asset/image/asset 12.jpeg" alt=""></div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="txt d-flex flex-wrap">
                    <div class="section_heading">
                        <p>See what’s new</p>
                        <h2>Buy What’s New</h2>
                    </div>
                    <p>
                        Soulful 創立於1976年，在台北西門商圈經營。 40年以來，一直堅持「專業及多元化音樂」 ，這二個原則讓我們在競爭激烈的唱片業中依然屹立不搖。


                        「專業」---我們要求員工對於所負責的部門，能夠具有一定程度的專業知識，以提供最好的服務給消費者。

                        秉持服務廣大消費者的原則，除了提供流行音樂、影音產品， 對於國內沒有代理的CD，就以進口的方式來服務需要的顧客。 在這裡有代訂東洋、西洋、古典、粵語等音樂商品，只要有該商品的相關資料，且公司未斷貨，我們會盡力找到。

                        「多元化」---我們訂購各種領域的音樂CD， 不在乎銷售量，只在乎消費者可以在 Soulful 找到所要的CD，我們始終相信‘每一種音樂都有人欣賞 ’ ‘每一個人都有喜歡的音樂 ’我們追求的目標是使 Soulful 成為「音樂雜貨店」，期待以多元化的音樂商品來滿足您對音樂的需求。
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- miscellaneous-area -->
<section class="miscellaneous_area">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-4">
                <div class="weeks_top_area mb-100 week_hits">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>This week’s top</h2>
                    </div>

                    @Html.Partial("_WeekHitsPartialView")
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="weeks_top_area mb-100 month_hits">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>This Month’s top</h2>
                    </div>

                    @Html.Partial("_MonthHitsPartialView")
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="new_hits_area mb-100 total_hits">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>Total Hits</h2>
                    </div>

                    @Html.Partial("_TotalHitsPartialView")
                </div>
            </div>
        </div>
    </div>
</section>
